extends ../layouts/default

mixin post(post)
	.post.tofade
		.time
			.year!=post._.publishedDate.format('YYYY')
			.date!=post._.publishedDate.format('MM/DD')
		.content
			.inner
				h2 #{post.title}
				div!= post.content.brief
				
				if post.content.extended
					a.read-more(href='/post/' + post.slug)  查看详情
block intro
	.container.title
		h1= data.category ? data.category.name : '所有时间线'

block content
	.container: .timeline
		div
			if filters.category && !data.category
				h3.text-muted Invalid Category.
			else
				if data.posts.results.length
					.blog
						each post in data.posts.results
							+post(post)
				else
					if data.category
						h3.text-muted There are no posts in the category #{data.category.name}.
					else
						h3.text-muted There are no posts yet.
