extends ../layouts/default

mixin post(post)
	.post.tofade(class=p?'':'opp')

		.time
			h2.year!=post._.publishedDate.format('DD日')
			//.date!=post._.publishedDate.format('MM/DD')

		.content
			.inner
				h2 #{post.title}
				div!= post.content.brief
				if post.content.extended
					a.read-more(href='/timeline/post/' + post.slug)  查看详情
				.tags
					if post.categories && post.categories.length
						| 标签： 
						each cat, cat_i in post.categories
							a(href='/timeline/' + cat.key)= cat.name
							if cat_i < post.categories.length - 1
								| , 
							else
								| 
				
		
block intro
	if data.categories.length
		.list-group
			a(href='/timeline', class=!data.category ? 'active' : false).list-group-item 所有
			each cat in data.categories
				a(href='/timeline/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item=cat.name
	.container.title
		h1= data.category ? data.category.name : '所有时间线'

block content
	.container: .timeline
		div
			if filters.category && !data.category
				h3.text-muted 无效的标签。
			else
				if data.posts.results.length
					.blog
						- var p = false;
						- var tmp =[];
						each post in data.posts.results
							- p=!p;
							- var month =11*post.publishedDate.getFullYear()+post.publishedDate.getUTCMonth();
							- if(tmp.indexOf(month)<0)
								-console.log('new');
								-tmp.push(month);
								.maindate.tofade: span!=post._.publishedDate.format('YYYY年MM月')
							- endif
							+post(post)
							
				else
					if data.category
						h3.text-muted 在 #{data.category.name} 标签里还没有内容.
					else
						h3.text-muted 还没有内容。
